.main-navigation {
	/*clear: both;*/
	display: block;
	float: left;
	margin-top: 10px;/*was20*/
	margin-left: 50px;
	font-family: $font__menu;
	text-transform: uppercase;
	cursor: pointer;
	z-index: 9999;

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
		font-size: 16px;
		font-weight: 500;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			/*top: 1.5em;*/
			left: -999em;
			z-index: 99999;
			background: $faded_white;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover {
					background-color: $main;
				}
				&:hover > ul {
					left: 100%;
				}
				&:hover > a {
					color: $white;
					background-color: $main;
				}
			}

			a {
				width: 200px;
				color: $main;
				line-height: 3;
			}

			:hover > a {
			}

			a:hover {
				color: #fff;
			}
		}

		li:hover > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;
		margin-right: 1px;

		a {
			color: $white;
			padding: 5px 10px;
		}

		&:hover > a {
			color: $main;
			background-color: $white;
		}
	}
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}
/* Small menu. */
.menu-toggle {
	display: none;
}
/*After Scroll*/
.f-nav {
	ul {
		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			&:hover {
				background-color: $faded_white;
				color: $main;
			}
			a {
				width: 200px;
				color: $main;
				line-height: 3;
				&:hover {
					color: $white;
				}
			}
			li {
				&:hover > a {
				color: $white;
				}
			}
		}
	}
	li {
		a {
			color: $main;
			line-height: 3;
			margin-top: 15px;
		}
		&:hover > a {
			color: $white;
			background: $main;
		}
	}
}
@media screen and (max-width: 1100px) {
	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: block;
	}

	.main-navigation ul {
		display: none;
		ul {
			display: block;
			padding-left: 25px;
		}
	}
	#countdown {
		font-size: 3em;
		padding: 0 15px;
		margin-top: 30px;
		max-width: 50%;
	}
	.main-navigation {
		// width: 45%;
		margin: 15px 15px 0 0;
		li {
			background: rgba($white,0.7);
			color: $main;
			width: 200px;
			a {
				color: $main;
			}
		}
	}
}
@media screen and (max-width: 540px) {
	#countdown {
		font-size: 2em;
		min-width: 100px;
		max-width: 300px;
		padding: 10px;
	}
}
.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	& .nav-previous {
		float: left;
		width: 50%;
	}

	& .nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}